# Ignore everything
*

# Except knowledge files
!.gitignore
!README.md
!CLAUDE.md
!CODEX.md
!AGENTS.md
!CODEX_PROJ.md
!LICENSE
!NOTICE
!CONTRIBUTING.md
!AUTHORS.md
!ahk.md
!build_issues.md
!regex-patterns.md
!testing.md
!workflow.md
!social-preview.svg
!scripts/
!scripts/normalize-eol.ps1
!scripts/show-eol.ps1
!scripts/show-eol.pl
!scripts/normalize-eol.pl
!scripts/PasteAsMd.ahk
!scripts/session-pid.sh
!scripts/session-pid.ps1
!scripts/ClipHelper.ahk
!scripts/HtmlNorm.ahk
!scripts/HtmlParser.ahk
!scripts/HtmlDom.ahk
!scripts/CopyClip.ahk
!scripts/TT_Simple.ahk
!scripts/ahk-test
!scripts/ahk-test/**
scripts/ahk-test/*.actual.md
scripts/ahk-test/test-*.log
scripts/ahk-test/*.fixture.log
