# Ignore everything
*

# Except knowledge files
!.gitignore
!README.md
!CLAUDE.md
!CODEX.md
!AGENTS.md
!CODEX_PROJ.md
!LICENSE
!NOTICE
!CONTRIBUTING.md
!AUTHORS.md
!build_issues.md
!regex-patterns.md
!testing.md
!social-preview.svg
!scripts/
!scripts/normalize-eol.ps1
!scripts/show-eol.ps1
!scripts/pid-timer.ps1
!scripts/show-eol.pl
!scripts/normalize-eol.pl
!scripts/PasteAsMd.ahk
!scripts/ClipHelper.ahk
